<h1>编辑公司</h1>

<% form_action = path.admin_company_edit.sub(":id", company.id) %>
<% company_name = company.name %>

<%= render_partial "admin/company_form.ecr" %>

<%= link_to "返回", path.admin_company_index %>
