<h1>新增</h1>

<% form_action = path.admin_company_new %>
<%= render_partial "admin/company_form.ecr" %>

<%= link_to "返回", path.admin_company_index %>

<% content_for "title" do %>
  <title>新增</title>
<% end %>

<% content_for "company_name" do %>
  <%= "新的公司" %>
<% end %>
