<h1><%= company.name %></h1>

<%= render "src/views/admin/manufactories/index.ecr" %>

<%= link_to "返回", path.admin_company_index %>

<% content_for "title" do %>
  <title>列表</title>
<% end %>

<% content_for "company_name" do %>
  <%= company.name %>
<% end %>
