<h1>编辑</h1>

<% form_action = path.admin_manufactory_edit_for(manufactory_id: operation.id.value, company_id: company.id) %>
<%= render_partial "admin/manufactory_form.ecr" %>

<%= link_to "返回", path.admin_company_for(company_id: company.id) %>

<% content_for "title" do %>
  <title>编辑</title>
<% end %>

<% content_for "company_name" do %>
  <%= company.name %>
<% end %>

<% content_for "manufactory_name" do %>
  <%= operation.name.value %>
<% end %>
