<h1>新增公司</h1>

<% http_method = "post"; form_action = path.admin_manufactory_new %>
<% manufactory_name = nil %>
<%= render_partial "admin/manufactory_form.ecr" %>

<%= link_to "返回", path.admin_manufactory_index %>
