<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= yield_content "title" %>
    <link rel="stylesheet" href="/materialize/css/materialize.min.css" />
  </head>
  <body>
    <div class="container">
      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="<%= path.admin_company_index %>" class="breadcrumb">
              <span class="<%= env.request.path == path.admin_company_index ? "black-text" : "" %>">
                公司列表
              </span>
            </a>
            <% company_path = path.admin_company_for(company_id: env.params.url["company_id"]?) %>
            <% if env.request.path.starts_with? company_path %>
              <a href="<%= company_path %>" class="breadcrumb">
                <span class="<%= env.request.path == company_path ? "black-text" : "" %>">
                  <%= yield_content("company_name")  %>
                </span>
              </a>
            <% end %>

            <% manufactory_path = path.admin_manufactory_for(manufactory_id: env.params.url["manufactory_id"]?, company_id: env.params.url["company_id"]?) %>
            <% if env.request.path.starts_with? manufactory_path %>
              <a href="<%= manufactory_path %>" class="breadcrumb">
                <span class="<%= env.request.path == manufactory_path ? "black-text" : "" %>">
                  <%= yield_content("manufactory_name")  %>
                </span>
              </a>
            <% end %>

            <% workshop_path = path.admin_workshop_for(workshop_id: env.params.url["workshop_id"]?, manufactory_id: env.params.url["manufactory_id"]?, company_id: env.params.url["company_id"]?) %>
            <% if env.request.path.starts_with? workshop_path %>
              <a href="<%= workshop_path %>" class="breadcrumb">
                <span class="<%= env.request.path == workshop_path ? "black-text" : "" %>">
                  <%= yield_content("workshop_name")  %>
                </span>
              </a>
            <% end %>

            <% process_line_path = path.admin_process_line_for(process_line_id: env.params.url["process_line_id"]?, workshop_id: env.params.url["workshop_id"]?, manufactory_id: env.params.url["manufactory_id"]?, company_id: env.params.url["company_id"]?) %>
            <% if env.request.path.starts_with? process_line_path %>
              <a href="<%= process_line_path %>" class="breadcrumb">
                <span class="<%= env.request.path == process_line_path ? "black-text" : "" %>">
                  <%= yield_content("process_line_name")  %>
                </span>
              </a>
            <% end %>
          </div>
        </div>
      </nav>
      <%= content %>
      <script type=text/javascript src="/materialize/js/materialize.min.js"></script>
      <%= yield_content "footer" %>
      <%= render "src/views/partials/confirm_delete_dialog.ecr" %>
    </div>
  </body>
</html>
